@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


@media (max-width: 600px) {
    .work {
        position: relative;
        right: 80px;
    }

    #click {
        position: relative;
        right: 80px;
    }
}

.main2 {
    background-color: #d1c7c7;
    
}

.strip {
    background-color: rgb(207, 207, 207);
    height: 12px;
  }

#click {
    color: rgb(104, 102, 102);
    font-family: Times New Roman;
    font-size: 20px;
}



.work {
    font-family: Times New Roman;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    color: rgb(112, 111, 111);
  
   
 
}

