.body {
    background-color: rgb(189, 181, 181);
    width: 100%;
}


.typical {
  font-size: 60px;
  color: rgb(85, 75, 87);
}

.me2 {
    width: 620px;
    height: 420px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

   
}

.linkedin {
  width: 630px;
  height: 650px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;



 
}

.Tech {
  display: flex;
  flex-direction: column;
}

p, h2  {
  color: rgb(63, 59, 63);
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.cherry {
  width: 200px;
  height: 421px;
  display: flex;
  flex-direction: row;
  float: left;
}


.cherry2 {
  width: 200px;
  height: 421px;
  display: flex;
  flex-direction: row;
  float: right;
}

    .welcome {
        background-color: rgb(245, 243, 244);
        height: 60%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative; }
        .welcome h1 {
          font-size: 1.3rem;
          font-weight: 400;
          color: #ada5ad;
          line-height: 0.8;
          text-align: center; }
          @media (min-width: 50em) {
            .welcome h1 {
              font-size: 3vw; } }
          .welcome h1 span {
            font-size: 4.5rem;
            letter-spacing: 0.15em;
            color: rgb(150, 142, 151);
            text-transform: uppercase;
            line-height: 1;
            font-family: "Six Caps", sans-serif;
            font-weight: 400;
            display: block; }
            @media (min-width: 50em) {
              .welcome h1 span {
                font-size: 10vw; } }
          .welcome h1::before, .welcome h1::after {
           
            background: #7c777b; }
         


          
              
              