.body {
    background-color: rgb(192, 189, 189);
    width: 100%;
}


.typical {
  font-size: 60px;
  color: rgb(85, 75, 87);
}

.me2 {
    width: 620px;
    height: 420px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

   
}

.container {
  padding: 20px;
  width: 100%;
  display: flex; 
}

.text {
  float: right;
  width: 60%;
  position: relative;
  bottom: 300px;
  right: 80px;
  height: 70px;
}

p {
  text-align: center;
}

.info {
  float: right;
  display: flex;
  flex-direction: row;
}

.me3 {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  bottom: -20px;
  right: 40px;
 
}

.technologies {
  background-color: rgb(223, 222, 222);
  width: 100%;
}

.technologiestext {
  font-size: 20px;
}

.portfolio {
  color: gray;
}

#technologiesheader {

text-align: center;
  font-size: 16px;
  text-decoration: strong;
}

.techstack {
  font-size: 40px;
  text-align: center;
}

.Tech {
  display: flex;
  flex-direction: column;
}

p, h2  {
  color: rgb(63, 59, 63);
}

.container-all {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.cherry {
  width: 200px;
  height: 421px;
  display: flex;
  flex-direction: row;
  float: left;
}


.cherry2 {
  width: 200px;
  height: 421px;
  display: flex;
  flex-direction: row;
  float: right;
}

    .welcome {
        background-color: #e4d1d1;
        height: 60%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative; }
        .welcome h2 {
          font-size: 1.3rem;
          font-weight: 400;
          color: #a8a3a8;
          line-height: 1.8;
          text-align: center; }
          @media (min-width: 50em) {
            .welcome h2 {
              font-size: 3vw; } }
          .welcome h2 span {
            font-size: 4.5rem;
            letter-spacing: 0.15em;
            color: rgb(150, 142, 151);
            text-transform: uppercase;
            line-height: 1;
            font-family: "Six Caps", sans-serif;
            font-weight: 400;
            display: block; }
            @media (min-width: 50em) {
              .welcome h3 span {
                font-size: 10vw; } }
          .welcome h3::before, .welcome h2::after {
           
            background: #7c777b; }
         


          
              
              