
.spines {
    width: 400px;
    height: 200px;
}

.spines2 {
    width: 500px;
    height: 200px;
}

.bookshelf {
    display: flex;
    flex-direction: row;
    width: 20px;
}

.bookshelf2 {
    display: flex;
    flex-direction: row;
    width: 20px;
    padding-top: 40px;
}

.mixed {
    background-color:  rgb(233, 227, 233);
    margin-right: 150px;
    position: relative;
    top: -480px;
    left: 100px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: solid  #bdb3b3 20px;
    font-size: 16px;
    color: rgb(114, 112, 112);
}


.reading {
    background-color: #d1c7c7;
}
.memoirs {
    background-color:  rgb(233, 227, 233);
    margin-right: 150px;;
    position: relative;
    bottom: -140px;
    left: 80px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    font-size: 16px;
    color: rgb(114, 112, 112);
}


.personal {
    background-color:  rgb(233, 227, 233);
    margin-left: 150px;
    margin-top: -47px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    text-align: center;
    border: solid  #bdb3b3 20px;
    position: relative;
    bottom: 300px;
    left: 580px;
    box-sizing: border-box;
    font-size: 16px;
    color: rgb(114, 112, 112);


}

.ya {
    background-color:   rgb(233, 227, 233);
    margin-left: 150px;
    width: 450px;
    border-radius: 50%;
    height: 450px;
    border: solid  #bdb3b3 20px;
    position: relative;
    bottom: 460px;
    left: -30px;
    box-sizing: border-box;
    font-size: 16px;
    color: rgb(114, 112, 112);
}

.children {
    background-color:   rgb(233, 227, 233);
    margin-left: 150px;
    width: 420px;
    font-size: 16px;
    color: rgb(114, 112, 112);
}

#picks {
    color: rgb(78, 77, 77);
}

ul {
    list-style-type: none;
}

.rosepersonal {
    height: 60px;
    width: 35px;
    opacity: 0.5;
    position: relative;
    bottom: 15px;
}

.rosemixed {
    height: 60px;
    width: 35px;
    opacity: 0.5;
    position: relative;
    top: 40px;
}

.roseya {
    height: 60px;
    width: 35px;
    opacity: 0.5;
    position: relative;
    bottom: 10px;
}

.rosememoirs {
    height: 60px;
    width: 35px;
    opacity: 0.5;
    position: relative;
    top: 40px;
}

.amycuddy {
    position: relative;
    bottom: 20px;
}

.enid {
    position: relative;
    bottom: 20px;
}

.clemency {
    position: relative;
    bottom: 20px;
}

.john {
    position: relative;
    bottom: 20px;
}

.jane {
    position: relative;
    bottom: -40px;
}


.personallist {
    position: relative;
    bottom: 20px;
    right: 10px;
}

.memoirslist {
    position: relative;
    right: 10px;
    top: 50px;
}

.mixedlist {
    position: relative;
    right: 10px;
}

.yalist {
    position: relative;
    right: 10px;
}

.childrenslist {
    position: relative;
    right: 10px;
}

a:link {
    color: black;
    text-decoration: none;
  }

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.mixedya {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.bookscontainer {
    height: 1400px;
    background-color: #d1c7c7;
}

.memoirspersonal {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 200px;
}

.readingparagraph {
    margin-left: 60px;
    margin-right: 60px;
}
