
.spines {
    width: 400px;
    height: 200px;
}

.spines2 {
    width: 500px;
    height: 200px;
}

.bookshelf {
    display: flex;
    flex-direction: row;
    width: 20px;
}

.bookshelf2 {
    display: flex;
    flex-direction: row;
    width: 20px;
    padding-top: 40px;
}

.mixed {
    background-color:  rgb(233, 227, 233);
    margin-right: 150px;
    position: relative;
    top: -45px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: solid  #bdb3b3 20px;
    font-size: 16px;
    color: rgb(114, 112, 112);
}


.reading {
    background-color: #d1c7c7;
}
.memoirs {
    background-color:  rgb(233, 227, 233);
    margin-right: 150px;;
    position: relative;
    top: -40px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    font-size: 16px;
    color: rgb(114, 112, 112);
}

.techtext {
    margin-left: 80px;
    margin-right: 80px;
}

.mixed {
    margin-right: 200px;
}


.personal {
    background-color:  rgb(233, 227, 233);
    margin-left: 150px;
    margin-top: -47px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    text-align: center;
    border: solid  #bdb3b3 20px;
    position: relative;
    top: -35px;
    box-sizing: border-box;
    font-size: 16px;
    color: rgb(114, 112, 112);


}

.ya {
    background-color:   rgb(233, 227, 233);
    margin-left: 150px;
    width: 450px;
    border-radius: 50%;
    height: 450px;
    border: solid  #bdb3b3 20px;
    position: relative;
    top: -35px;
    box-sizing: border-box;
    font-size: 16px;
    color: rgb(114, 112, 112);
}

.children {
    background-color:   rgb(233, 227, 233);
    margin-left: 150px;
    width: 420px;
    font-size: 16px;
    color: rgb(114, 112, 112);
}

#picks {
    color: rgb(78, 77, 77);
}

ul {
    list-style-type: none;
}

.rose {
    height: 60px;
    width: 35px;
    opacity: 0.5;
}

.rose4 {
    height: 60px;
    width: 35px;
    opacity: 0.5;
    position: relative;
    top: 20px;
}

.amycuddy {
    position: relative;
    bottom: 20px;
}

.enid {
    position: relative;
    bottom: 20px;
}

.clemency{
    position: relative;
    bottom: 20px;
}

.john{
    position: relative;
    bottom: 20px;
}

.personallist {
    position: relative;
    bottom: 20px;
    right: 10px;
}

.memoirslist {
    position: relative;
    right: 10px;
}

.mixedlist {
    position: relative;
    right: 10px;
}

.yalist {
    position: relative;
    right: 10px;
}

.childrenslist {
    position: relative;
    right: 10px;
}

a:link {
    color: black;
    text-decoration: none;
  }

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.books {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.bookscontainer {
    height: 2000px;
    background-color: #d1c7c7;
}

.books2 {
    display: flex;
    flex-direction: column;
}
