.contactpage {
    background-color: rgb(212, 197, 197);

}

.text {
  text-align: center;
}

h3 {
    position: relative;
    top: 270px;
    right: 170px;
}

.form {
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}