.hideouskinky {
    width: 400px;
    height: 400px;
  
}

.blackswan {
    width: 400px;
    height: 400px;
  
}

.atmiddleton {
    width: 370px;
    height: 370px;
 
}

.outofafricacircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #bdb3b3 20px;

}

.atmiddletoncircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #bdb3b3 20px;

}


.hideouskinkycircle {

    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #bdb3b3 20px;
}

.blackswancircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #bdb3b3 20px;

}

.secretgardencircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #bdb3b3 20px;

}

.burnyourmapscircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #bdb3b3 20px;

}

.manhattancircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #bdb3b3 20px;

}

.film {
    background-color: #d1c7c7;
}

.filmtext {
    margin-left: 80px;
    margin-right: 80px;
}

.filmmm {
    position: relative;
    left: 140px;
    bottom: 270px;
    
}
