.cherryblossom {
    width: 102%;
    height: 250px;
}


.greystripabove {
    background-color: rgb(218, 216, 216);
    height: 40px;
}

.greystrip {
    background-color: rgb(219, 212, 212);
    height: 50px;
}