.strip {
    height: 80px;
    width: 102%;
    background-color: rgb(163, 159, 159);

}

.strip2 {
    height: 50px;
    width: 102%;
    background-color: rgb(180, 177, 177);

}

.strip3 {
    height: 50px;
    width: 102%;
    background-color: rgb(197, 190, 190);

}



