.cherryblossom {
    width: 102%;
    height: 250px;
}


.greystripabove {
    background-color: rgb(202, 200, 200);
    height: 30px;
}

.greystrip {
    background-color: rgb(197, 193, 193);
    height: 30px;
}

.greystrip3 {
    background-color: rgb(197, 193, 193);
    height: 30px;
}