@media (max-width: 600px) {

    .body {
        max-width: 100%;
        width: 100%;
    }
    .dance {
        width: 20px;
        height: 20px;
        max-width: 100%;
        display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: rgb(204, 201, 201);
    border: solid  #bdb3b3 20px;
    }
    .physical {
        width: 20px;
        height: 20px;
        max-width: 100%;
        display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: rgb(204, 201, 201);
    border: solid  #bdb3b3 20px;
    }
    .piano {
        width: 20px;
        height: 20px;
        max-width: 100%;
        display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: rgb(204, 201, 201);
    border: solid  #bdb3b3 20px;
    }
    .performingarts {
        max-width: 100%;
    }
    .bookshelf {
        width: 10px;
    }
    .memoirs {
        visibility: hidden;
    }
    .memoirshidden {
        visibility: visible;
    }
    .personal {
        visibility: hidden;
    }
    .personalhidden {
        visibility: visible;
    }
    .ya {
      visibility: hidden;
    }
    .yahidden {
        visibility: visible;
    }
    .mixed {
        visibility: hidden;
    }
    .mixedhidden {
        visibility: visible;
    }
    .children {
        visibility: hidden;
    }
    .childrenhidden {
        visibility: visible;
    }
    .readinghidden {
        position: relative;
        right: 20px;
    }
}

/* end of media query */


.yahidden {
    visibility: hidden;
}
.childrenhidden {
    visibility: hidden;
}
.memoirshidden {
    visibility: hidden;
}
.mixedhidden {
    visibility: hidden;
}
.personalhidden {
    visibility: hidden;
}





h4 {
    background-color:  #cac5c5;
    
}

h3 {
    color: rgb(112, 110, 110);
}

.filmmm {
    background-color:  #c7c0c0;
}

.dance {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: rgb(204, 201, 201);
    border: solid  #bdb3b3 20px;

}

.physical {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(204, 201, 201);
    border-radius: 50%;
    margin: 10px;
    border: solid  #bdb3b3 20px;

}

.piano {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(204, 201, 201);
    border-radius: 50%;
    margin: 10px;
    border: solid  #bdb3b3 20px;


}

.outofafricacircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #bdb3b3 20px;

}

.atmiddletoncircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #bdb3b3 20px;

}


.hideouskinkycircle {

    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #bdb3b3 20px;
}

.blackswancircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #bdb3b3 20px;

}

.secretgardencircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #bdb3b3 20px;

}

.burnyourmapscircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #bdb3b3 20px;

}

.manhattancircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #bdb3b3 20px;

}



.books {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.bookscontainer {
    height: 2000px;
    background-color: #d1c7c7;
}

.books2 {
    display: flex;
    flex-direction: column;
}



.body {
    background-color: #e4d1d1;
}

.reading {
    background-color: #d1c7c7;
}
.memoirs {
    background-color:  rgb(233, 227, 233);
    margin-right: 150px;;
    position: relative;
    top: -40px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    font-size: 16px;
    color: rgb(114, 112, 112);
}

.techtext {
    margin-left: 80px;
    margin-right: 80px;
}

.mixed {
    margin-right: 200px;
}

.photos {
    background-color:  #c7c0c0;
    height: 150px;
  
}

.photos2 {
    background-color:  #c7c0c0;
}


.personal {
    background-color:  rgb(233, 227, 233);
    margin-left: 150px;
    margin-top: -47px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    text-align: center;
    border: solid  #bdb3b3 20px;
    position: relative;
    top: -35px;
    box-sizing: border-box;
    font-size: 16px;
    color: rgb(114, 112, 112);


}

.ya {
    background-color:   rgb(233, 227, 233);
    margin-left: 150px;
    width: 450px;
    border-radius: 50%;
    height: 450px;
    border: solid  #bdb3b3 20px;
    position: relative;
    top: -35px;
    box-sizing: border-box;
    font-size: 16px;
    color: rgb(114, 112, 112);
}

.children {
    background-color:   rgb(233, 227, 233);
    margin-left: 150px;
    width: 420px;
    font-size: 16px;
    color: rgb(114, 112, 112);
}

#picks {
    color: rgb(78, 77, 77);
}

.film {
    background-color:  #c7c0c0;
}

.filmhead {
    background-color:  #cac5c5;
}

.mixed {
    background-color:  rgb(233, 227, 233);
    margin-right: 150px;
    position: relative;
    top: -45px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: solid  #bdb3b3 20px;
    font-size: 16px;
    color: rgb(114, 112, 112);
}

.pinkstrip {
    background-color:  #e4d1d1;
    height: 100px;
    width: 100%;
}

.spines {
    width: 400px;
    height: 200px;
}

.spines2 {
    width: 500px;
    height: 200px;
}

.bookshelf {
    display: flex;
    flex-direction: row;
    width: 20px;
}

.bookshelf2 {
    display: flex;
    flex-direction: row;
    width: 20px;
    padding-top: 40px;
}

.photoscontainer {
  display: block;
  flex-direction: column;
  height: 50px;
}

h3 {
    text-align: center;
}

li {
    list-style-type: none;
}

.pink {
    background-color: rgb(248, 232, 246);
    background-image: url(cloud.png);
}

.pink2 { 
    background-color: rgb(255, 255, 255);
}

.pink3 { 
    background-color: rgb(133, 129, 129);
}

.pink4 { 
    background-color: rgb(146, 139, 139);
}

.pink5 { 
    background-color: rgb(252, 252, 252);
}

.pink6 {
    background-color: rgb(248, 232, 246);
}

.flowers7 {
    background-color: rgb(248, 232, 246);
    height: 140px;
}


.books {
    
    float: right;
}

.tech {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 70px;
    margin-left: 70px;
    

}

.tech2 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 70px;
    margin-left: 50px;
   
}

.header {
    position: relative;
    right: 30px;
}



.performingarts {
    display: flex;
    word-wrap: normal;
    flex-direction: row;
    background-color: #d1c7c7;
    height: 640px;
  
}

.performingimages {
    display: flex;
    flex-direction: row;
    margin-left: 58px;   
}

.performingtitle {
   position: relative;
   right: 30px;
}

.performingtext {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-left: 80px;
}

.travel {
    width: 400px;
    height: 400px;
}

.rose {
    height: 60px;
    width: 35px;
    opacity: 0.5;
}

.rose4 {
    height: 60px;
    width: 35px;
    opacity: 0.5;
    position: relative;
    top: 20px;
}

.amycuddy {
    position: relative;
    bottom: 20px;
}

.enid {
    position: relative;
    bottom: 20px;
}

.clemency{
    position: relative;
    bottom: 20px;
}

.john{
    position: relative;
    bottom: 20px;
}

.personallist {
    position: relative;
    bottom: 20px;
    right: 10px;
}

.memoirslist {
    position: relative;
    right: 10px;
}

.mixedlist {
    position: relative;
    right: 10px;
}

.yalist {
    position: relative;
    right: 10px;
}

.childrenslist {
    position: relative;
    right: 10px;
}

figcaption {
    margin: 60px;
    position: relative;
    bottom: 169px;
    right: 40px;
    font-style: italic;
}

.techie {
    background-color:  #cac5c5;

}

#phototitle {
    background-color:  #c7c0c0;
    height: 100px;
}

.deer {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    border-radius: 50%;
    position: relative;
    top: -120px;
    right: 40px;
    padding: 15px;
}

.booksh3 {
    position: relative;
    left: -9px;
}

.lagerfeldquote {
    margin-left: 100px;
}

.caption {
    color: rgb(97, 95, 95);
}


#photoheader {
    position: relative;
    left: 1px;
    bottom: 100px;
    background-color:  #cac5c5;
    
    height: 2px;
}

.photostext {
    display: flex;
    flex-direction: column;
    background-color:  #c7c0c0;
}

.photostitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:  #c7c0c0;
}

.nodecircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
  
    padding: 15px;
   

  
   

}

.javacircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    padding: 15px;
    
}

.twittercircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    padding: 15px;
  

}

a:link {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

.athenacircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    padding: 15px;
  
 
}

.googlecircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    padding: 15px;
  

}

.railscircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    padding: 15px;
  

}


.outofafrica {
    width: 300px;
    height: 300px;
  
}


.photos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 480px;
    background-color:  #c7c0c0;
}

.bookstitle {
    background-color: #d1c7c7;
    height: 40px;
}

.body {
    background-color: #d1c7c7;
}

.bookscontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0px;
    
    background-size: 600px 500px;
    background-color:  #dacbcb;
}

.arts {
    width: 500px;
    height: 500px;

}

.lang {
    background-color:  #e4d1d1;
}

.languages {
    background-color:  #c7c0c0;
   
}

.languagesss {
    background-color:  #c7c0c0;
}

.grad {
    background-color:  rgb(197, 193, 193);
    height: 30px;
}

.grad2 {
    background-color:  rgb(235, 227, 227);
    height: 30px;
}

.grad3 {
    background-color:  rgb(229, 226, 226);
    height: 30px;
}

.grad4 {
    background-color:  rgb(235, 231, 231);
    height: 30px;
}

.grad5 {
    background-color:  rgb(240, 234, 234);
    height: 30px;
}

.grad6 {
    background-color:  rgb(243, 237, 237);
    height: 30px;
}

.grad7 {
    background-color:  rgb(248, 244, 244);
    height: 30px;
}



p {
    margin: 90px;
}

.hideouskinky {
    width: 400px;
    height: 400px;
  
}

.atmiddleton {
    width: 400px;
    height: 400px;
}

.blackswan {
    width: 400px;
    height: 400px;
  
}

.atmiddleton {
    width: 370px;
    height: 370px;
 
}

.body {
    background-color: rgb(255, 255, 255);
}