.dance {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;

}

.physical {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border-radius: 50%;
    margin: 10px;

}

.piano {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border-radius: 50%;
    margin: 10px;


}

.books {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.books2 {
    display: flex;
    flex-direction: column;
}



.reading {
    background-color: #e4d1d1;
}
.memoirs {
    background-color: rgb(207, 199, 199);
    margin-right: 150px;;
    width: 420px;
  
}

.mixed {
    margin-right: 200px;
}

.photos {
    background-color:  #e4d1d1;
}

.personal {
    background-color: rgb(207, 199, 199);
    margin-left: 150px;
    margin-top: -47px;
    width: 420px;
}

.ya {
    background-color: rgb(207, 199, 199);
    margin-left: 150px;
    width: 420px;
}

.children {
    background-color: rgb(207, 199, 199);
    margin-left: 150px;
    width: 420px;
}

.mixed {
    background-color: rgb(197, 191, 191);
    margin-right: 150px;
    width: 420px;
}

.spines {
    width: 400px;
    height: 200px;
}

.bookshelf {
    display: flex;
    flex-direction: row;
}

h3 {
    text-align: center;
}

li {
    list-style-type: none;
}

.pink {
    background-color: rgb(248, 232, 246);
    background-image: url(cloud.png);
}

.pink2 { 
    background-color: rgb(255, 255, 255);
}

.pink3 { 
    background-color: rgb(253, 253, 253);
}

.pink4 { 
    background-color: rgb(252, 252, 252);
}

.pink5 { 
    background-color: rgb(252, 252, 252);
}

.pink6 {
    background-color: rgb(248, 232, 246);
}

.flowers7 {
    background-color: rgb(248, 232, 246);
    height: 140px;
}


.books {
    
    float: right;
}

.tech {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 70px;

}

.tech2 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 70px;
}

.header {
    position: relative;
    right: 30px;
}




.performingarts {
    display: flex;
    word-wrap: normal;
    flex-direction: row;
    padding: 10px;
    border: solid white 5px;
    background-color: #e4d1d1;
  
}

.performingimages {
    display: flex;
    flex-direction: row;
    margin: auto;
    
}

.performingtext {
    display: flex;
    flex-direction: column;
}

.travel {
    width: 400px;
    height: 400px;
}

.deer {
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #DDD;


    
}

.techie {
    background-color: #e4d1d1;

}

.photos {
    display: flex;
    flex-direction: column;
}

.photostext {
    display: flex;
    flex-direction: column;
}

.node {
    width: 400px;
    height: 400px;

}

.java {
    width: 400px;
    height: 400px;

}

.twitter {
    width: 400px;
    height: 400px;

}

a:link {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

.athena {
    width: 400px;
    height: 400px;
 
}

.google {
    width: 400px;
    height: 400px;

}

.railsgirls {
    width: 400px;
    height: 400px;

}


.outofafrica {
    width: 300px;
    height: 300px;
  
}

.hollybourne {
    width: 350px;
    height: 350px;
    position: relative;
    top: 90px;
    left: 35px;

}

.snap {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 300px;
    position: relative;
    top: 60px;
}

.snap2 {
  
    width: 300px;
    height: 300px;
}

.photos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
}

.body {
    background-color: gray;
}

.bookscontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    
    background-size: 600px 500px;
    background-color:  #e4d1d1;
}

.arts {
    width: 500px;
    height: 500px;

}

.lang {
    background-color:  #e4d1d1;
}



p {
    margin: 90px;
}

.hideouskinky {
    width: 400px;
    height: 400px;
  
}

.atmiddleton {
    width: 400px;
    height: 400px;
}

.blackswan {
    width: 400px;
    height: 400px;
  
}

.atmiddleton {
    width: 370px;
    height: 370px;
 
}

.body {
    background-color: rgb(255, 255, 255);
}