.dance {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #e7d8d8 20px;

}

.physical {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border-radius: 50%;
    margin: 10px;
    border: solid  #e7d8d8 20px;

}

.piano {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border-radius: 50%;
    margin: 10px;
    border: solid  #e7d8d8 20px;


}

.outofafricacircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #e7d8d8 20px;

}

.atmiddletoncircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #e7d8d8 20px;

}


.hideouskinkycircle {

    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #e7d8d8 20px;
}

.blackswancircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #e7d8d8 20px;

}

.secretgardencircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #e7d8d8 20px;

}

.burnyourmapscircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #e7d8d8 20px;

}

.manhattancircle {
    width: 300px;
    height: 300px;
    padding: 15px;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #DDD;
    border: solid  #e7d8d8 20px;

}



.books {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.bookscontainer {
    height: 2000px;
}

.books2 {
    display: flex;
    flex-direction: column;
}



.body {
    background-color: #e4d1d1;
}

.reading {
    background-color: #e4d1d1;
}
.memoirs {
    background-color:  rgb(233, 227, 233);
    margin-right: 150px;;
    position: relative;
    top: -10px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #e7d8d8 20px;
   
  
  
}

.mixed {
    margin-right: 200px;
}

.photos {
    background-color:  #e4d1d1;
}

.personal {
    background-color:  rgb(233, 227, 233);
    margin-left: 150px;
    margin-top: -47px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    text-align: center;
    border: solid  #e7d8d8 20px;
}

.ya {
    background-color:   rgb(233, 227, 233);
    margin-left: 150px;
    width: 450px;
    border-radius: 50%;
    height: 450px;
    border: solid  #e7d8d8 20px;
}

.children {
    background-color:   rgb(233, 227, 233);
    margin-left: 150px;
    width: 420px;
}

#picks {
    color: rgb(78, 77, 77);
}

.film {
    background-color:  #e4d1d1;
}

.mixed {
    background-color:  rgb(233, 227, 233);
    margin-right: 150px;
    position: relative;
    top: -10px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: solid  #e7d8d8 20px;
}

.pinkstrip {
    background-color: #e4d1d1;
    height: 100px;
    width: 100%;
}

.spines {
    width: 400px;
    height: 200px;
}

.spines2 {
    width: 500px;
    height: 200px;
}

.bookshelf {
    display: flex;
    flex-direction: row;
    width: 20px;
}

.bookshelf2 {
    display: flex;
    flex-direction: row;
    width: 20px;
    padding-top: 40px;
}

.photoscontainer {
  display: block;
  flex-direction: column;
}

h3 {
    text-align: center;
}

li {
    list-style-type: none;
}

.pink {
    background-color: rgb(248, 232, 246);
    background-image: url(cloud.png);
}

.pink2 { 
    background-color: rgb(255, 255, 255);
}

.pink3 { 
    background-color: rgb(253, 253, 253);
}

.pink4 { 
    background-color: rgb(252, 252, 252);
}

.pink5 { 
    background-color: rgb(252, 252, 252);
}

.pink6 {
    background-color: rgb(248, 232, 246);
}

.flowers7 {
    background-color: rgb(248, 232, 246);
    height: 140px;
}


.books {
    
    float: right;
}

.tech {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 70px;
    margin-left: 70px;

}

.tech2 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 70px;
    margin-left: 50px;
}

.header {
    position: relative;
    right: 30px;
}




.performingarts {
    display: flex;
    word-wrap: normal;
    flex-direction: row;
    padding: 10px;
    border: solid white 5px;
    background-color: #e4d1d1;
  
}

.performingimages {
    display: flex;
    flex-direction: row;
    margin: auto;
    
}

.performingtext {
    display: flex;
    flex-direction: column;
}

.travel {
    width: 400px;
    height: 400px;
}

.deer {
    width: 600px;
    height: 540px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: solid 25px #e7d8d8;
    border-radius: 50%;
    position: relative;
    top: -80px;
    right: 40px;



    
}

.techie {
    background-color: #e4d1d1;

}

#phototitle {
    background-color: #e4d1d1;
    height: 0px;
}


#photoheader {
    position: relative;
    left: 290px;
    bottom: 100px;
}

.photostext {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    bottom: 40px;
}

.photostitle {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nodecircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #e7d8d8;
  
    padding: 15px;
   

  
   

}

.javacircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #e7d8d8;
    padding: 15px;
    
}

.twittercircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color:  #e7d8d8;
    padding: 15px;
  

}

a:link {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

.athenacircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #e7d8d8;
    padding: 15px;
  
 
}

.googlecircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #e7d8d8;
    padding: 15px;
  

}

.railscircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: #e7d8d8;
    padding: 15px;
  

}


.outofafrica {
    width: 300px;
    height: 300px;
  
}


.photos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 480px;
}

.bookstitle {
    background-color: #e4d1d1;
    height: 40px;
}

.body {
    background-color: gray;
}

.bookscontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0px;
    
    background-size: 600px 500px;
    background-color:  #e4d1d1;
}

.arts {
    width: 500px;
    height: 500px;

}

.lang {
    background-color:  #e4d1d1;
}



p {
    margin: 90px;
}

.hideouskinky {
    width: 400px;
    height: 400px;
  
}

.atmiddleton {
    width: 400px;
    height: 400px;
}

.blackswan {
    width: 400px;
    height: 400px;
  
}

.atmiddleton {
    width: 370px;
    height: 370px;
 
}

.body {
    background-color: rgb(255, 255, 255);
}