.dance {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    background-color: rgb(204, 201, 201);
    border: solid  #bdb3b3 20px;
}

.physical {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(204, 201, 201);
    border-radius: 50%;
    margin: 10px;
    border: solid  #bdb3b3 20px;
}

.piano {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(204, 201, 201);
    border-radius: 50%;
    margin: 10px;
    border: solid  #bdb3b3 20px;
}

.performingarts {
    display: flex;
    word-wrap: normal;
    flex-direction: row;
    background-color: #d1c7c7;
    height: 640px;
  
}

.performingimages {
    display: flex;
    flex-direction: row;
    margin-left: 58px;   
}

.performingtitle {
   position: relative;
   right: 30px;
}

.performingtext {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-left: 80px;
}