.deer {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    border-radius: 50%;
    position: relative;
    top: -100px;
    right: -60px;
    padding: 15px;
}

.lagerfeldquote {
    margin-left: 100px;
    position: relative;
    left: 40px;
}

.caption {
    color: rgb(97, 95, 95);
}

figcaption {
    margin: 60px;
    position: relative;
    bottom: 140px;
    right: -50px;
    font-style: italic;
}

.photoheader {
    position: relative;
    right: 50px;
    bottom: 250px;

}

.photostext {
    margin-left: 80px;
    margin-right: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.photos2 {
    height: 700px;
    background-color: #d1c7c7;
    display: flex;
    flex-direction: row;
}

.photos {
    background-color: #d1c7c7;
    height: 500px;
}

.performingtitle {
    position: relative;
    bottom: 300px;
}

h3 {
    position: relative;
    bottom: 600px;
}