.rails {
    height: 45px;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
}

.jasmine2 {
    height: 45px;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
}


.mongodb {
    height: 45px;
    width: 45px;
}

.capybara2 {
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 20px;
    bottom: 10px;
}

.capybaratext {
    position: relative;
    left: 30px;
    bottom: 10px;
}


.jest {
    height: 45px;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
}

.mocha {
    height: 45px;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
}

.chai {
    height: 45px;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
}

.rspec {
        height: 55px;
        width: 55px;
      

}

.python {
    height: 45px;
    width: 45px;

}

.ruby {
    height: 45px;
    width: 45px;

}

.react {
    height: 45px;
    width: 45px;
  
}

.node2 {
    height: 65px;
    width: 65px;
  
}


.html {
    height: 45px;
    width: 45px;
}

.css {
    height: 45px;
    width: 45px;
}

.materialui {
    height: 45px;
    width: 45px;
}


.javascript {
    height: 45px;
    width: 45px;
}


.sinatra {
    height: 45px;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 15px;
}

.sinatratext {
    position: relative;
    right: 15px;
}

.tddtext {
    position: relative;
    right: 35px;
}


.postgres {
    height: 45px;
    width: 45px;
   
}

.postgrestext {
    position: relative;
    right: 10px;
}



.mocha {
    height: 55px;
    width: 55px;
}

.mochatext {
    position: relative;
    left: 20px;
}

.jest {
    height: 45px;
    width: 45px;
   
}

.jesttext {
    position: relative;
    left: 20px;
}

.enzyme2 {
    height: 85px;
    width: 85px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 35px;
    bottom: 10px;
}


.tdd {
    height: 45px;
    width: 45px;
   
}

.technologies1 {
    display: flex;
    flex-direction: row;
    width: 50%;
  
}

.technologies2 {
    display: flex;
    flex-direction: row;
    width: 50%;
  
}

.technologies3 {
    display: flex;
    flex-direction: row;
    width: 50%;
  
}



