.athenacircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    padding: 15px;
}

.googlecircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    padding: 15px;
}

.railscircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    padding: 15px;
}


.nodecircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    padding: 15px;
}

.javacircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    padding: 15px;   
}

.twittercircle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    border: solid  #bdb3b3 20px;
    padding: 15px;
}

.techtext {
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
}

.techimages {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 120px;
}

.tech {
    display: flex;
    flex-direction: row;

}

.tech2 {
    display: flex;
    flex-direction: row;
}

.techie {
    background-color: #d1c7c7;
    height: 1050px;
}